.headline {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 600;
  margin-top: 32px;
  margin: 32px 0px 4px 0px;
}

.quote {
  margin: 40px 0;
}

.quoteText {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
}

.quoteText::before {
  content: open-quote;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  text-align: right;
}

.quoteText::after {
  content: close-quote;
  display: inline-block;
  text-align: left;
  margin-right: -1em;
}

.copy .intro {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .copy .intro {
    font-size: 24px;
  }
}

.copy h3 {
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 600;
  margin-top: 32px;
  margin: 32px 0px 4px 0px;
}

@media (min-width: 768px) {
  .copy h3 {
    font-size: 20px;
  }
}

.copy p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  color: var(--text);
  margin-bottom: var(--spaceGap);
}

@media (min-width: 768px) {
  .copy p {
    font-size: 20px;
  }
}
