.plus {
  position: absolute;
  width: 44px;
  height: 44px;
  bottom: 24px;
  right: 32px;
  color: var(--white);
  background-color: transparent;
  padding: 0px;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

.DialogOverlay {
  background: var(--overlayMain);
  backdrop-filter: blur(24px);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  z-index: 8;
}

.DialogContent {
  backdrop-filter: blur(16px);
  position: relative;
  width: 100vw;
  margin: 0px;
  max-width: 960px;
  background: var(--white);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  animation: contentShow 750ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 9;
}

@media (min-width: 768px) {
  .DialogContent {
    width: 90vw;
    margin: 80px 0px;
    border-radius: 16px;
  }
}

@media (min-width: 768px) {
  .modalWrapper {
    overflow: hidden;
    border-radius: 16px;
  }
}

.DialogContent:focus {
  outline: none;
}

.title {
  color: #1d1d1f;
  font-size: 32px;
  line-height: 1.16;
  font-weight: 600;
}

.button {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  color: #1d1d1f;
  border: 2px solid #1d1d1f;
  padding: 6px 14px;
  border-radius: 100px;
  font-weight: 600;
  background-color: #fff;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  min-width: 28px;
}

.button:hover {
  background: #1d1d1f;
  color: #fff;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
  height: 0;
}

.close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  left: 12px;
  color: #1d1d1f;
  background-color: transparent;
  padding: 0px;
}

.close:hover,
.plus:hover {
  opacity: 80%;
}

@media (min-width: 768px) {
  .close {
    left: 32px;
    width: 32px;
    height: 32px;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(400px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.modalTop {
  background: #e8e8ed;
  padding: 112px 0 64px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .modalTop {
    padding: 136px 0 88px;
  }
}

.wrapper {
  position: relative;
  z-index: 1;
  padding: 0 40px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 112px;
  }
}

.headline {
  font-size: 36px;
  color: var(--title);
}

@media (min-width: 768px) {
  .headline {
    font-size: 64px;
  }
}

.green .modalTop {
  background: rgba(3, 109, 78, 0.1);
}

.green .headline {
  color: rgb(3, 109, 78);
}

.blue .modalTop {
  background: rgba(0, 115, 230, 0.16);
}

.blue .headline {
  color: #0071e3;
}

.red .modalTop {
  background: rgba(196, 35, 62, 0.16);
}

.red .headline {
  color: #c4233d;
}

.modalCopy {
  background: #fff;
  padding: 40px 40px 112px 40px;
}

@media (min-width: 768px) {
  .modalCopy {
    padding: 80px 112px 112px 112px;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes contentHide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0;
    transform: scale(0.8) translateY(16%);
  }

  100% {
    opacity: 0;
    transform: scale(0.8) translateY(50%);
  }
}

.DialogOverlay[data-state="closed"] {
  animation: overlayHide 300ms linear;
}

.DialogContent[data-state="closed"] {
  animation: contentHide 300ms linear;
}
