.section {
  padding: 116px 0px 140px 0px;
}

.container {
  max-width: var(--pageWidth);
  margin: 0 auto;
  padding: 0px var(--pageMin) 0px var(--pageMin);
}

@media (min-width: 768px) {
  .container {
    padding: 0px var(--pageMargin) 0px var(--pageMargin);
  }
}

.copyWrapper {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.title {
  font-size: 64px;
  line-height: 1;
  font-weight: 600;
}

.desc {
  color: #86868b;
  font-size: 24px;
  line-height: 1.3334133333;
  font-weight: 600;
}

.figure {
  padding-bottom: 16px;
}

.svg {
  height: auto;
  width: 100%;
  max-width: 96px;
}

.test {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
}

.factWrapper {
  width: 100%;
  padding: 40px;
  flex-basis: 40%;
  max-width: 40%;
}

.infoWrapper {
  padding: 56px;
  border-radius: 18px;
  flex-basis: 60%;
  max-width: 60%;
}
