.default li {
  color: var(--text);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(----line-height-2);
  font-size: 18px;
  font-weight: 400;
  padding: 6px 0;
}

@media (min-width: 768px) {
  .default li {
    font-size: 20px;
  }
}

.default li {
  position: relative;
  margin: 12px 24px;
}

.default li::before {
  content: "•";
  color: var(--primaryRed);
  position: absolute;
  font-size: 24px;
  left: -24px;
}

.terms li {
  color: var(--text);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-2);
  font-size: 18px;
  font-weight: 400;
  padding: 6px 0;
}

@media (min-width: 768px) {
  .terms li {
    font-size: 20px;
  }
}
