.default {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .default {
    font-size: 20px;
  }
}

.default li {
  position: relative;
  margin: 12px 24px;
}

.default li::before {
  content: "•";
  color: var(--primaryRed);
  position: absolute;
  font-size: 24px;
  left: -24px;
  top: -2px;
}
