.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px 0px;
  width: 100%;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    gap: 100px 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 200px 80px;
  }
}
