.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  color: var(--text);
  margin-bottom: var(--spaceGap);
}

.copyright {
  composes: default;
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 0;
}
