.button {
  padding: 6px 24px 7px 24px;
  min-height: 48px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  border: 2px solid var(--primaryRed);
}

@media (min-width: 640px) {
  .button {
    min-height: 56px;
  }
}

.button:hover {
  border: 2px solid var(--primaryRed);
  background-color: #635bff32;
}

.buttonArrow .arrowIcon {
  overflow: visible;
  margin-left: 10px;
  width: 8px;
  position: relative;
  top: 1px;
}
.buttonArrow .arrowHead {
  transform: translateX(0);
  transition: transform 100ms ease-in-out;
}
.buttonArrow .arrowBody {
  opacity: 0;
  transform: scaleX(1);
  transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
}
.buttonArrow:hover .arrowHead {
  transform: translateX(3px);
}
.buttonArrow:hover .arrowBody {
  opacity: 1;
  transform: scaleX(2);
}
