.copy {
  margin-top: 24px;
}

.copy p {
  color: #666;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: var(--spaceGap);
}

@media (min-width: 768px) {
  .copy p {
    font-size: 24px;
  }
}
