.container {
  margin: 0 auto;
  text-align: center;
  max-width: 360px;
  padding-bottom: 44px;
}

@media (min-width: 400px) {
  .container {
    max-width: var(--pageWidth);
  }
}

@media (min-width: 768px) {
  .container {
    padding: var(--height) var(--width) var(--height) var(--width);
  }
}

.desc {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .desc {
    max-width: 600px;
  }
}
