.container {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    padding-bottom: 16px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-bottom: 64px;
  }
}

.eyebrow {
  color: #c4233d;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 12px;
  letter-spacing: -0.3px;
}

@media (min-width: 640px) {
  .eyebrow {
    font-size: 22px;
    margin-bottom: 18px;
  }
}

.title {
  font-size: 40px;
  line-height: 1.1;
  margin: 0 auto 24px;
  text-align: center;
  letter-spacing: -2px;
}

@media (min-width: 480px) {
  .title {
    max-width: 400px;
  }
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .title {
    max-width: 560px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 72px;
    line-height: 80px;
    margin: 0 auto 32px;
    max-width: 100%;
  }
}

.descWrapper {
  max-width: 480px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .descWrapper {
    max-width: 560px;
  }
}

@media (min-width: 1024px) {
  .descWrapper {
    max-width: 724px;
  }
}
