.button {
  font-size: 18px;
  font-weight: 600;
  color: var(--primaryRed);
  background-color: transparent;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  padding: 0px;
  letter-spacing: -0.16px;
}

.button:hover {
  text-decoration: underline;
}

.buttonArrow .arrowIcon {
  overflow: visible;
  margin-left: 8px;
  width: 8px;
  position: relative;
  top: 1px;
}

.DialogOverlay {
  background: rgba(245, 245, 247, 0.6);
  backdrop-filter: blur(16px);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  z-index: 8;
}

.DialogContent {
  backdrop-filter: blur(16px);
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  max-width: 960px;
  background: var(--white);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  animation: contentShow 750ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 9;
}

@media (min-width: 768px) {
  .DialogContent {
    width: 90vw;
    margin: 80px 0px;
    border-radius: 16px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .modalWrapper {
    overflow: hidden;
    border-radius: 16px;
  }
}

.DialogContent:focus {
  outline: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
  height: 0;
}

.close {
  position: absolute;
  top: 24px;
  left: 12px;
  background-color: transparent;
  padding: 0px;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out 0.8s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .close {
    left: 32px;
  }
}

.iconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .iconWrapper {
    width: 32px;
    height: 32px;
  }
}

.icon {
  position: absolute;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(400px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.wrapper {
  position: relative;
  z-index: 1;
  padding: 0 40px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 112px;
  }
}

.category {
  font-size: 36px;
  color: #1d1d1f;
}

@media (min-width: 768px) {
  .category {
    font-size: 56px;
  }
}

.modalCopy {
  background: var(--white);
  padding: 80px 24px 80px 24px;
}

@media (min-width: 768px) {
  .modalCopy {
    padding: 80px 112px 80px 112px;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes contentHide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0;
    transform: scale(0.8) translateY(16%);
  }

  100% {
    opacity: 0;
    transform: scale(0.8) translateY(50%);
  }
}

.DialogOverlay[data-state="closed"] {
  animation: overlayHide 300ms linear;
}

.DialogContent[data-state="closed"] {
  animation: contentHide 300ms linear;
}
