.container {
  background-color: var(--primaryDark);
}

.wrapper {
  max-width: var(--pageWidth);
  margin: 0 auto;
  padding: 32px var(--pageMin) 32px var(--pageMin);
}

@media (min-width: 768px) {
  .wrapper {
    padding: 60px var(--pageMargin) 40px var(--pageMargin);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.company,
.resources,
.logo {
  width: 100%;
}

@media (min-width: 640px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .brand {
    width: calc(40% - 32px);
    order: -1;
  }

  .company,
  .resources {
    width: calc(30% - 16px);
    order: 1;
  }
}

@media (min-width: 1024px) {
  .brand {
    width: calc(60% - 32px);
    order: 0;
  }

  .company,
  .resources {
    width: calc(20% - 16px);
    order: 1;
  }
}

.title {
  font-size: 20px;
  padding-bottom: 12px;
  font-weight: 700;
  color: var(--white);
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
  }
}

.list li {
  padding: 8px 0;
}

.list a {
  color: #94a3b8;
  transition: 0.5s;
  font-size: 18px;
}

@media (min-width: 768px) {
  .list a {
    font-size: 18px;
  }
}

.list a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--primaryRed);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.list a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  position: relative;
  max-width: 88px;
}

@media (min-width: 640px) {
  .logo {
    max-width: 120px;
  }
}

.svg {
  height: auto;
  width: 100%;
}

.section {
  padding-top: 12px;
}

@media (min-width: 560px) {
  .section {
    padding-top: 24px;
  }
}

.copyright {
  font-size: 12px;
  margin: 0px;
  color: #94a3b8;
}
