.text {
  font-weight: 400;
  color: var(--text);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-1);
}

.description {
  composes: text;
  margin: 16px 0px 20px 0px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .description {
    font-size: 20px;
  }
}

.description a {
  color: var(--primaryRed);
}

.description a:hover {
  text-decoration: underline;
}

.intro {
  composes: text;
  font-size: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro {
    font-size: 24px;
  }
}

.normal {
  max-width: 560px;
}

@media (min-width: 768px) {
  .normal {
    max-width: 700px;
  }
}

.list {
  composes: text;
  color: var(--white);
  opacity: 0.6;
  font-size: 18px;
  margin: 0;
}

@media (min-width: 768px) {
  .list {
    font-size: 20px;
  }
}
