.style {
  color: #c4233d;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 12px;
  letter-spacing: -0.3px;
}

@media (min-width: 640px) {
  .style {
    font-size: 22px;
    margin-bottom: 18px;
  }
}

.default {
  text-transform: uppercase;
  font-size: 14px;
  color: #6e6e73;
  padding-bottom: 8px;
  font-weight: 600;
  margin-bottom: 0.4em;
  line-height: 1.16;
}
