.default {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .default {
    gap: 56px;
    padding-bottom: 160px;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 18px;
  align-items: center;
  max-width: 560px;
}

@media (min-width: 768px) {
  .panel {
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 18px;
  align-items: center;
  max-width: 560px;
  gap: 32px;
}

@media (min-width: 768px) {
  .card {
    justify-content: space-between;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
  }
}

.sustainable {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: var(--height);
}

@media (min-width: 768px) {
  .sustainable {
    gap: 56px;
  }
}
