.container {
  position: relative;
  width: 100%;
  max-width: var(--layoutWidth);
  margin: 0 auto;
}

.layout {
  padding: var(--height) var(--width);
}

.panel {
  padding: 0 var(--width);
}

.dark {
  background-color: var(--primaryDark);
}

.white {
  background-color: var(--white);
}

.prop {
  padding: var(--height) var(--pageMargin);
}

.content {
  composes: container;
  max-width: 880px;
  background-color: var(--white);
  border-radius: 18px;
  margin: 0px auto;
}

.resources {
  composes: container;
  max-width: 880px;
  background-color: var(--white);
  border-radius: 18px;
  margin: 96px auto;
}

.padding {
  padding: 56px 48px;
}

.brand {
  composes: container;
  max-width: 480px;
  padding: 80px 0px 112px 0px;
}

@media (min-width: 668px) {
  .brand {
    max-width: var(--layoutWidth);
    padding: 112px 0px 224px 0px;
  }
}
