.container {
  position: relative;
  width: 88%;
  max-width: var(--layoutWidth);
  margin: 0 auto;
}

.layout {
  padding: var(--height) 0;
}

.panel {
  padding: 0;
}

.dark {
  background-color: var(--primaryDark);
}

.prop {
  padding: var(--height) 0;
}
