.flex {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  align-items: center;
  gap: 48px;
}

@media (min-width: 768px) {
  .flex {
    gap: 64px;
  }
}

@media (min-width: 1024px) {
  .flex {
    gap: 0;
    padding: 80px 0;
  }
}

.content {
  flex-basis: 100%;
}

@media (min-width: 1024px) {
  .content {
    flex-basis: 50%;
    padding-right: 10%;
  }
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding-top: 40px;
}

.video {
  flex-basis: 100%;
  max-width: 640px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .video {
    flex-basis: 50%;
  }
}

.pictureWrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
