.container {
  padding: 56px var(--pageMin);
  text-align: center;
  background: var(--primaryRed);
  border-top: var(--border);
}

@media (min-width: 768px) {
  .container {
    padding: 75px 30px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.3em;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 32px;
  margin: auto;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 56px;
  }
}

.min {
  max-width: 800px;
}

.max {
  max-width: (var--pageWidth);
}
