.list {
  list-style: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2em;
  color: var(--white);
  display: flex;
  align-items: flex-start;
  padding-bottom: 8px;
}

.text {
  font-size: 18px;
  line-height: 1.6em;
  color: var(--white);
  opacity: 0.6;
  margin: 0;
}
