.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin: -6px var(--pageMin);
  width: 100%;
  background: var(--primaryDark);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
  z-index: 90;
}
.NavigationMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 1028px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 20px;
  left: 0;
}

.MobileHeader {
  min-height: 54px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 20px;
  font-weight: 500;
  color: var(--white);
}

.content {
  padding: 4px;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

.buttonWrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.list {
  margin: 16px 16px;
}

.section {
  color: #727f96;
  font-weight: 400;
  font-size: 14px;
  margin: 0px 4px 12px 4px;
}

.menuItemWrapper {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 8px;
  padding: 10px 0px;
  border-radius: 5px;
  transition: background 0.3s;
  align-items: center;
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 16px;
  line-height: 1;
  padding-bottom: 0px;
  font-weight: 700;
  color: var(--title);
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.25em;
  color: var(--white);
  margin: 0;
  white-space: nowrap;
}

.NavigationTrigger {
  position: relative;
  z-index: 99;
  background-color: transparent;
}

.hamburger {
  background-color: #ffffff33;
  border-radius: 16px;
  padding: 4px 12px;
}

.hamburger .line {
  width: 22px;
  height: 1.5px;
  background-color: var(--white);
  display: block;
  margin: 4.5px auto;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

[data-state="open"] > .hamburger .line:nth-child(2) {
  opacity: 0;
}

[data-state="open"] > .hamburger .line:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
  background-color: var(--white);
}

[data-state="open"] > .hamburger .line:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
  background-color: var(--white);
}

[data-state="open"] > .hamburger {
  background-color: transparent;
}
