.active {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 6px 0px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 20px;
  font-size: 17px;
  color: var(--white);
  border-radius: 0px;
  border: none;
  z-index: 1;
  border-bottom: 2px solid var(--primaryRed);
  margin-bottom: -2px;
}

.link {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 6px 0px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 20px;
  font-size: 17px;
  color: var(--white);
  border-radius: 100px;
  border: none;
  z-index: 1;
}
