.container {
  max-width: var(--pageWidth);
  margin: 0 auto;
  padding: 0px var(--pageMin) 100px var(--pageMin);
  margin-top: -60px;
}

@media (min-width: 768px) {
  .container {
    padding: 0px var(--pageMargin) 175px var(--pageMargin);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px 56px;
  width: 100%;
}

@media (max-width: 968px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 50px 0px;
  }

  .grid .wrapper:nth-of-type(1) {
    order: 1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
