.grid:nth-of-type(3) {
  order: 4;
}

.grid:nth-of-type(4) {
  order: 3;
  padding-top: 56px;
}

@media (min-width: 768px) {
  .grid:nth-of-type(3) {
    order: 3;
  }

  .grid:nth-of-type(4) {
    order: 4;
    padding-top: 0px;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.Text {
  max-width: 600px;
}

.TextL {
  composes: Text;
}

.TextR {
  composes: Text;
}

.action {
  margin-top: 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 22, 43, 0.05) 0%,
    rgba(0, 22, 43, 0.15) 100%
  );
}
