.container {
  max-width: var(--pageWidth);
  margin: 0 auto;
  padding: 56px var(--pageMin) 56px var(--pageMin);
}

@media (min-width: 768px) {
  .container {
    padding: 88px var(--pageMargin) 80px var(--pageMargin);
  }
}

.wrapper {
  padding-top: 64px;
  padding-bottom: 40px;
}

.headline {
  font-size: 40px;
}
