:root {
  --white: #fff;
  --black: #000;
  --primaryRed: #db0a40;
  --red-hover: #f30b47;
  --primaryDark: #00162b;
}

:root {
  --grey: #a0a0a1;
  --grey-light: #e2e3e5;
  --grey-medium: #4d4e51;
  --grey-dark: #1a1919;
  --grey-silver: #f8f8f8;
  --grey-raven: #737477;
}

:root {
  --background: #f8f9fa;
}

:root {
  --grey-blue: #e9edf4;
}

:root {
  --dark: #0a2540;
  --primaryLight: #f6f9fc;
  --primaryDark: #030328;
  --secondaryDark: #07072e;
  --tertairyDark: #1d254a;
  --quaternaryDark: #242d54;
}

:root {
  --pageMin: 16px;
  --pageMargin: 24px;
  --pageWidth: 1320px;
  --contentWidth: 960px;
  --spaceGap: 20px;
  --lineHeight: 1.2;
  --padding: 80px;
  --paddingSM: 24px;
  --paddingMD: 56px;
  --paddingLG: 80px;
  --opacityBlob: 48%;
}

:root {
  --switch: var(--dark);
  --header: var(--primaryLight);
  --footer: var(--white);
  --primaryblue: #0052ff;
  --text: var(--grey);
  --smallText: var(--grey);
  --title: var(--dark);
  --herotitle: var(--white);
  --description: #ffffffc9;
  --subtitle: var(--violet);
  --hyperlink: var(--primaryViolet);
  --button: var(--violet);
  --buttontext: var(--white);
  --hover: #5952e5;
  --icon: var(--dark);
  --iconbackground: var(--dark);
  --featurebackground: rgba(255, 255, 255, 0.9);
  --bluehero: linear-gradient(200.44deg, #100e6e 13.57%, #4269f2 98.38%);
  --card: #f8fafc;
  --linearBackground: linear-gradient(to bottom, #5240cb 50%, #f6f9fc 50%);
  --chevronNavigation: var(--cyaan);
  --chevronNavigationHover: var(--cyaan);
  --backgroundFilter: none;
  --mask: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), var(--white));
}

:root {
  --primaryViolet: #644de3;
  --grey: #525f7f;
  --switch: var(--primaryDark);
  --heroViolet: linear-gradient(180deg, #644de3 0%, #3c2d96 100%);
  --heroGradient: linear-gradient(230deg, #644de3 0%, #3c2d96 80%);
  --mainBackground: linear-gradient(180deg, #644de3 0%, #3c2d96 100%);
  --stripeBackground: linear-gradient(
    to bottom,
    var(--violet) 50%,
    var(--primaryLight) 50%
  );
  --border: none;
  --actionBackground: #f1f4f7;
  --placeholder: #acb9c5;
  --tertairyBackground: var(--white);
  --quaternaryBG: var(--primaryLight);
  --primaryBorder: #dfe1e5;
}

:root {
  --cardShadow: 3px 3px 15px 0px rgba(137, 141, 154, 0.1);
  --iconBoxShadow: rgba(218, 225, 233, 0.557) 0px 8px 16px;
  --shadowBox: rgba(137, 148, 189, 0.18) 0px 86px 92px -16px;
  --profile: rgba(123, 136, 180, 0.2) 0px 16px 40px;
  --shadowGraphic: rgba(123, 136, 180, 0.25) 0px 12px 40px;
}

:root {
  --servicesBG: linear-gradient(
    to bottom,
    var(--violet) 50%,
    var(--primaryLight) 50%
  );
  --graphicBG: var(--white);
}
