:root {
  --white: #fff;
  --black: #000;
  --primaryRed: #db0a40;
  --red-hover: #f30b47;
  --primaryDark: #00162b;
  --secundaryDark: #001c39;
}

:root {
  --grey: #a0a0a1;
  --grey-light: #e2e3e5;
  --grey-medium: #4d4e51;
  --grey-dark: #1a1919;
  --grey-silver: #f8f8f8;
  --grey-raven: #737477;
}

:root {
  --background: #f8f9fa;
}

:root {
  --grey-blue: #e9edf4;
}

:root {
  --dark: #0a2540;
  --primaryLight: #f6f9fc;
  --primaryDark: #030328;
  --secondaryDark: #07072e;
  --tertairyDark: #1d254a;
  --quaternaryDark: #242d54;
}

:root {
  --pageMin: 16px;
  --pageMargin: 24px;
  --pageWidth: 1320px;
  --contentWidth: 960px;
  --spaceGap: 20px;
  --lineHeight: 1.2;
  --padding: 80px;
  --paddingSM: 24px;
  --paddingMD: 56px;
  --paddingLG: 80px;
}
