.section {
  margin-top: -48px;
  background: var(--white);
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0px var(--width) 0px var(--width);
  text-align: center;
}

.title {
  font-size: 40px;
  line-height: 1.1;
  margin: 0 auto 24px;
  text-align: center;
  letter-spacing: -2px;
}

@media (min-width: 480px) {
  .title {
    max-width: 100%;
  }
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 56px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 72px;
    line-height: 80px;
    margin: 0 auto 32px;
  }
}

.figure {
  position: relative;
  margin-bottom: 32px;
}

.svg {
  height: auto;
  width: 100%;
  max-width: 96px;
  z-index: 9;
}
