.container {
  background: var(--secundaryDark);
  overflow: hidden;
  position: relative;
  height: 240px;
}

@media (min-width: 1024px) {
  .container {
    height: 480px;
  }
}

.imageWrapper {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.view {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.imageContainer {
  height: calc(100% + 14px);
  left: -7px;
  position: relative;
  top: -7px;
  transition: filter 0.3s linear;
  width: calc(100% + 14px);
}

.image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlayMain);
}
